@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
    width: 10%;
    *border: 1px solid red;
}

.pointer {
    cursor: pointer;
}

.whatsapp{
    z-index: 999;
    padding: 15px;
    background: #25D366;
    border-radius: 100%;
    position: fixed;
    cursor: pointer;
    right: 40px;
    bottom: 30px;
    color: white;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Footer style */

.main {
    padding: 2% 5%;
}

.bottom {
    padding: 1% 5%;
}

.main_heading {
    font-size: 28px;
    font-weight: 500;
    border-bottom: .2px solid lightgray !important;

}

.main_heading2 {
    font-size: 28px;
    *font-weight: 400;
    border-bottom: .2px solid lightgray;

    color: lightgray;
}

.address {
    display: flex;
    flex-direction: column;
}

.address span {
    padding: 1% 0;
}

.second {
    border-top: 1px solid lightgray;

}

.icons {
    display: flex;
    *justify-content: center;
}

.fs_20 {
    font-size: 20px !important;
    color: lightgray;
}

.r-border {
    border-radius: 100%;
}

.text_gray {
    color: lightgray;
    display: flex;
    align-items: center;
}

.path{
    display: flex;
    align-items: center;
    margin-left: 3%;
}


/* Home Style */

.header {
    *background: url('images/background.png');
    *background-size: cover;
    *background-repeat: no-repeat;
    background: white;
    height: 100vh;
    color: black;
}

.text_style {
    font-size: 3.5rem;
    *font-weight: 500;
}

.text-div {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.description {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    text-align: justify;
 
}

/* Contact Style */

.contact_container{
    margin:10px 30%;
    position: relative;
}

.btn{
    background: black;
    color: white;
    border: 2px solid black;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
}

.c_heading{
    font-size: 2rem;
    font-weight: 600;
}

/* Retail Project Style */

.retail-container{
    height: 100%;
}

.project_box{
 width: 100%;
 *height: 300px;
 background: #111;
 cursor: pointer;
 color: white;
 text-align: center;
 padding: 43% 0;
 font-size: 25px;
 font-weight: 500;
 border-radius: 10px;
 box-shadow: 0px 0px -4px 2px !important;
}

.box-container{
    padding: 0 3%;
}

.project_box:hover{
    background: #222;
    
}
.img-container{
    padding: 20px 2%;
}

.img-con{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 4px -2px;
}

.img-con:hover .img1{
   transform: scale(1.2);
   transition: 0.5s;
}
.img-con:hover .img2{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img3{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img4{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img5{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img6{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img7{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img8{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img9{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img10{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img11{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img12{
    transform: scale(1.2);
    transition: 0.5s;
 }
 .img-con:hover .img13{
    transform: scale(1.2);
    transition: 0.5s;
 }

.img1{
    width: 100%;
    height: 200px;
    background: url('../src/assets/rack4.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img2{
    width: 100%;
    height: 200px;
    background: url('../src/assets/POS-Billing-System.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img3{
    width: 100%;
    height: 200px;
    background: url('../src/assets/EAS-Antena.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img4{
    width: 100%;
    height: 200px;
    background: url('../src/assets/Electronics-surveillance.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img5{
    width: 100%;
    height: 200px;
    background: url('../src/assets/Air-Curtain.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img6{
    width: 100%;
    height: 200px;
    background: url('../src/assets/Billing-Software.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img7{
    width: 100%;
    height: 200px;
    background: url('../src/assets/IT-Infrastrucure.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img8{
    width: 100%;
    height: 200px;
    background: url('../src/assets/Audio-System.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img9{
    width: 100%;
    height: 200px;
    background: url('../src/assets/Fire-Alarm-System.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img10{
    width: 100%;
    height: 200px;
    background: url('../src/assets/Digital-Signage.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img11{
    width: 100%;
    height: 200px;
    background: url('../src/assets/Biometric.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img12{
    width: 100%;
    height: 200px;
    background: url('../src/assets/RFID-Inventory.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}
.img13{
    width: 100%;
    height: 200px;
    background: url('../src/assets/Face-Detection.jpeg');
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
    background-position: center;
}


.inner-img{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0));
    top: 73%;
    transition: 0.5s;
    position: absolute;
}


.img-con:hover .inner-img{
    top: 0;
    transition: 0.5s;
  }
 

.about-product-heading{
  font-size: 2rem;
  font-weight: 600;
}
.about-product-heading1{
    font-size: 2.5rem;
    font-weight: 700;
}

.about-product-heading::before{
    content: ' ';
    font-size: 14px;
    width: 190px;
    height: 3px;
    background: #222;
    position: absolute;
    top: 49px;
    left: 33%;
}
.about-product-heading::after{
    content: 'for more details';
    font-size: 14px;
    padding: 0 5px;
    color: crimson;
    background: white;
    position: absolute;
    top: 39px;
    left: 40%;
}

.top-container{
    padding: 1% 3%;
}

.top-header{
    background: #f2f2f2;
    width: 90%;
    border-radius: 20px;
    *height: 300px;
}

.rheading{
    font-size: 3rem;
    color: #222;
    font-weight: 600;
    padding: 5% 3%;
    
}

@media only screen and (max-width: 900px) {
    /* .project_box{
        width: 120px;
        padding: 20px 0;
        font-size: 18px;
    } */
    .contact_container{
        margin:10px 15%;
    }
    .rheading{
        font-size: 2rem;
    }
    .top-container{
        padding: 0 4%;
    }
    .about-product-heading::before{
        top: 49px;
        left: 34%;
    }
}

@media only screen and (max-width: 600px) {
    .icons{
        justify-content: center !important;
    }
    .main_heading2{
        font-size: 24px;
    }
    .contact_container{
        margin:10px 5%;
    }
    /* .project_box{
        width: 100px;
        padding: 15px 0;
        font-size: 18px;
    } */
    .logo{
        width: 20%;
    }
    .img{
        width: 100%;
        height: 180px;
        border-radius: 10px;
        box-shadow: 0 0 4px -2px;
        cursor: pointer;
    }
    .rheading{
        font-size: 1.5rem;
    }
  }

  @media only screen and (max-width: 480px) {
    .rheading{
        font-size:1rem ;
    }
    .top-container{
        padding: 0 5%;
    }
    .about-product-heading::before{
        top: 49px;
        left: 29%;
    }
    .about-product-heading::after{
        left: 38%;
    }
  }